.navigation {
    border-bottom: 1px solid;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 8px;
    

}

.user-icon {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    position: absolute;
    right: 2px;
    
}

.nav-ele{
    text-decoration: none;
    position: relative;
    left:  85rem;
    margin-top: 2px;
}